/*body {
	font: 120%/ Arial, sans-serif;
	margin:0 auto;
	max-width: 980px;
	width: 90%*/
}

.mystyle {
	color: red;
	text-align: center;
}

.otherstyle {
	border: solid 1px red;
}
html.js.hide {
	display: none;
}
#animace {
	background-image: url(../WebServis/Image/bg3.jpg);
	background-position: -600px 0;
	background-repeat: no-repeat;
	border: solid 1px black;
	height: 190px;
	transition: background-position 6s;
	width: 100%;
}


