html{
	line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	color:#4d4d4d;
	padding:0;
	margin:0;
}
*{
	box-sizing:border-box
}
header, footer, section{
	max-width:100%;
	overflow: hidden;
}
header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index: 99;
	box-shadow: 0px 1px 10px -5px #4d4d4d
}
	.stickie{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:auto;
		z-index: 99;
	}
.wrapper, .page-wrapper{
	overflow: hidden;
}
a, h1, h2, h3, h4, h5, h6, p, span{
	line-height: 1.2em;
	letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6{
	font-weight:400;
}
p,span{
	font-weight:100;
}
a, a:hover, a:focus, a:link{
	color:#444;
	text-decoration: none;
}
ul{
	display: block;
}
img{
	display:block;
	max-width:100%;
	max-height:100%;
}
a:hover, a:focus, a:link,
button:hover, button:focus, button:link,
input:hover, input:focus, input:link {
	border:0;
	outline: 0;
	box-shadow: none;
}
.nav{
	list-style: none;
	padding:0;
}
.nav-item a{
	font-size:inherit;
	font-weight:400;
	text-transform: uppercase;
}
.nav-link{
	font-size:1.1rem;
}
.nav-link:hover{
	color:#4D4D4D;
}
.container{
	width:100%;
	padding:0 20px;
}
.container-fluid{
	width:100%;
}
.container{
	margin: 0 auto;
}
.clearfix{
	display:block;
}
.clearfix::before,
.clearfix::after{
	content:' ';
	display:block;
	clear:both;
}
.row{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
[class*='col-']{
	width:100%;
	display:block;
	float:none;
}
#main-menu .container-fluid{
	display:block;
}
.navbar-brand{
	font-size:1.4rem;
	color:#444;
	font-weight:400;
	text-transform: uppercase;
	word-spacing: .4rem;
	letter-spacing: -.05em;
}
#main-navigation{
	width:100%;
	background: #fff;
}
	.navbar{
		position: relative;
		display:block;
		z-index: 99;
		padding: 0 30px;
		width:100%;
		height: 100%;
	}
	.bg-light{
		background: rgba(141, 198, 228, .3);
		box-shadow: 0 2px 5px -2px #4d4d4d;
	}
	.navbar-header,
	.collapse.navbar-collapse {
		z-index: 98;
	}
	.collapse.navbar-collapse .nav{
		display:none;
	}
.mobile{
	display:block;
	width:100%;
	height:auto;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	padding-left:15px;
	padding-right:15px;
}
.mobile > a{
	display:block;
	text-align: right;
}
.mobile.mobile-devices{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.mobile.mobile-devices span{
	display:block;
	width:25px;
	height:5px;
	background:#000;
	margin:2.5px 0;
	padding:0;
}
.mobile.mobile-devices *{
	transition: ease-in-out .45s all;
}
span.bar-1.rotate{
	transition: ease-in-out .45s all;
	transform:rotate(45deg);
	margin: 15px 0 -3.2px 0;
}
span.bar-3.rotate{
	transition: ease-in-out .45s all;
	transform:rotate(-45deg);
	margin: 0 0 0 0;
}
#about-me,
#portfolio,
#skills,
#testimonials,
#contact{
	position:relative;
}
#about-me .customized-icon, #about-me .h3, #about-me p,
#portfolio p, #testimonials p, #skills p, #contact p,
#portfolio .h3, #testimonials .h3, #skills .h3, #contact .h3{
	margin-top:22px;
	margin-bottom:30px;
}
	#about-me .container,
	#portfolio .container,
	#testimonials .container,
	#skills .container,
	#contact .container{
		background:#fff;
	}
	.entry-header{
		display:block;
		margin-top:40px;
		margin-bottom:20px;
	}
	.entry-title{
		position:relative;
		color:#4d4d4d;
		line-height:1.75em;
		z-index: 3;
		display: table;
	}
	.entry-title:after{
		content:' ';
		display:block;
		width:85%;
		margin-left:25px;
		height:4px;
		background-color:#2eb9d9;
		margin-top:-.45em;
		transform:skew(-50deg, 0);
		-webkit-transform:skew(-50deg, 0);
		-ms-transform:skew(-50deg, 0);
		-moz-transform:skew(-50deg, 0);
	}
	.entry-title:before{
		content:' ';
		display:block;
		width:100%;
		height:1em;
		background-color:rgba(250, 226, 95, 0.85);
		position:absolute;
		top:0;
		left:0;
		z-index: -1;
		margin-top:5px;
		transform:skew(50deg, 0);
		-webkit-transform:skew(50deg, 0);
		-ms-transform:skew(50deg, 0);
		-moz-transform:skew(50deg, 0);
	}
	.entry-title::first-letter{
		color:#2eb9d9;
	}
#slider .container{
	min-height:auto;
}
.custom-text{
	font-size:150%;
	font-weight:400;
	line-height: 1.4em;
}
.skills-description{
	font-size: 120%;
	font-weight: 100;
	line-height: 2em;
}
.form-group textarea,
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="name"],
.form-group input[type="tel"]{
	width:100%;
	border:0;
	outline:0;
	box-shadow: 0 0 0 1px rgba(141, 198, 228, 1);
	color: rgba(141, 198, 228, 1);
	padding:.25rem;
	margin-top:.5rem;
	margin-bottom:.5rem;
	border-radius:2px;
	line-height: 1.2em;
	letter-spacing: 1px;
}
.form-group :focus, .form-grup input:hover,.form-grup input[type*=""]:hover, .form-group textarea:hover,
.form-group input:focus, .form-grup textarea:focus {
	box-shadow: 0 0 0 1px #444;
	color: #444;
}
::-webkit-input-placeholder{
	color:rgba(141, 198, 228, 1);
	font-style:italic;
}
::-moz-placeholder{
	color: rgba(141, 198, 228, 1);
	font-style:italic;
}
:-ms-input-placeholder{
	color: rgba(141, 198, 228, 1);
	font-style:italic;
}
:-moz-placeholder{
	color: rgba(141, 198, 228, 1);
	font-style:italic;
}
.text-center{
	text-align:center;
	margin:0 auto;
}
input[type="submit"],.submit,#submit,[name="submit"],button:not([class*="owl-"]){
	padding:1em;
	background-color: #fff;
	color: rgba(141, 198, 228, 1);
	border:0;
	outline:0;
	box-shadow: 0 0 0 1px rgba(141, 198, 228, 1);
	border-radius:2px;
	text-transform: uppercase;
	line-height: 1.2em;
	letter-spacing: 1px;
}
input[type="submit"]:focus, input[type="submit"]:hover,
.submit:focus, .submit:hover,
#submit:focus, #submit:hover,
[name="submit"]:focus, [name="submit"]:hover,
button:not([class*="owl-"]):focus, button:not([class*="owl-"]):hover{
	color:#444;
	border:0;
	outline:0;
	box-shadow: 0 0 0 1px #444;
	cursor: pointer;
}
.customized-icon i{
	font-size:2em;
	border:3px solid #4d4d4d;
	border-radius:50%;
	padding: .4em 7px;
	width: 2em;
	height: 2em;
}
#footer{
	padding: 50px 0;
	background: rgba(141, 198, 228, .3);
	border-top: 5px solid rgba(141, 198, 228, .8);
}
#footer a{
	color:#4d4d4d;
	text-decoration:underline;
}
#footer .social a{
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	transition:ease-in-out .45s all;
}
.small, small{
	font-size:.75em;
}
section{
	min-height:700px;
}
section .container{
	padding-top:50px;
	padding-bottom:25px;
}
.centered-content{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:100%;
}
.person-photo{
	width:200px;
	height:200px;
	margin-bottom:20px;
}
	.person-photo img{
		border-radius:50%;
	}
	.person-info{
		text-align:center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 500px;
		padding:0 100px;
		z-index: 10
	}
	.person-name{
		display:flex;
		align-self: flex-end;
		margin-right:45px;
		margin-top:-18px;
		font-weight: 100;
		font-style: italic;
	}
	.person-testemonial{
		position:relative;
	}
		.person-testemonial:after{
			content: ' ';
			display: block;
			width: 100%;
			height: 120%;
			position: absolute;
			top: -5px;
			left: -2px;
			box-shadow: -4px 0px 1px -2px rgba(0, 0, 0, .25)
		}
		#slider{
			position:relative;
			max-height: 700px;
		}
#slider .item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(141, 198, 228, .6);
    width: 100%;
    height: 100%;
	display:block;
	z-index: 1;
}
		.owl-carousel .owl-item img{
			max-height: 700px;
			opacity:0.9;
			filter:alpha(opacity=90);
			-webkit-filter: grayscale(100%)
		}
		.caption{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			display:flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			z-index: 1;
		}
			.caption div{
				position:relative;
			}
				.caption div h1,
				.caption div p{
					z-index: 10;
				}
		.owl-nav{
			position:absolute;
			top:0;
			left:0;
			width:100%;
		}
			.owl-prev,
			.owl-next{
				position:absolute;
				top:0;
				transition: ease-in-out .45s all;
				width:100px;
				height:500px;
				margin:0;
				padding:0;
				z-index: 99;
			}
			.owl-prev{
				left:0;
			}
			.owl-next{
				right:0;
			}
			.owl-prev.disabled,
			.owl-next.disabled{
				opacity:0;
			}
				.owl-prev span,
				.owl-next span{
					font-size:7em;
					color:#4d4d4d;
				}
		.d-flex-center{
			display: flex;
			justify-content: space-between;
		}
		.align-left{
			display:block;
			float:left;
		}
		.w50{
			width:50%;
		}
		.copyrights{
			padding:20px 0;
		}
		blockquote{
			font-style: italic;
			font-weight:200;
		}
		#gmap{
			display:block;
			width:100%;
			height:500px;
		}
.social>a{
	font-size:2em;
}
#footer .social > a:hover{
	color:#d4d4d4;
}
.project-image{
	width:100%;
	margin:0;
	padding:0;
	max-height:200px;
	overflow: hidden;
}
	.project-image:hover{
		max-height:none;
	}
.project-link{
	font-size: 120%;
	margin: 0 auto;
	display:block;
	margin-top:15px;
}
	.project-link a{
		display:table;
		text-align:center;
	}
	.project-link::after{
		content: ' ';
		display:block;
		margin:25px;
		height:2px;
		background: #cdcdcd;
	}
.link{
	color:#d3d3d3;
}
.link:hover{
	color:#333;
}

@media screen and (max-width:575px){
	[class*="col-xs-"]{
  		width:100%;
  		float:none;
    }
	.col-xs-12{
		padding: 0 10px;
	}
	.col-xs-12{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width:100%;
	}
	.person-info{
		padding:0;
	}
	.hidden-xs{
		display:none;
	}
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  [class*="col-sm-"]{
	width:100%;
	float:none;
  }
  .col-sm-6{
	  float:left;
  }
  .col-sm-6{
	  -webkit-box-flex: 0;
	  -ms-flex: 0 0 50%;
	  flex: 0 0 50%;
	  max-width:50%;
  }
  .person-info{
	  padding:0;
  }
}
@media screen and (min-width:768px){
	.container{
		max-width: 720px;
	}
	.collapse.navbar-collapse .nav{
		display:none;
	}
	[class*="col-md-"]{
  	  width:100%;
	  padding:0 15px;
  	  float:left;
    }
	.col-md-3{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width:25%;
	}
	.col-md-4{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
	.col-md-6{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width:50%;
	}
	.col-md-12{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width:100%;
	}
	.offset-md-2{
		margin-left: 16.666667%;
	}
	.offset-md-3 {
      margin-left: 25%;
    }
	.person-info{
		padding:0 50px;
	}
}
@media screen and (min-width:992px){
	.collapse.navbar-collapse .nav{
  	  display:none;
    }
	.navbar-header, .navbar-collapse{
  	  display: inline-flex;
  	  flex-direction: row;
  	  justify-content: center;
  	  align-items: center;
    }
	.container{
		max-width: 960px;
	}
	.mobile.mobile-devices{
		display:none;
	}
	#slider .container{
		min-height:auto;
	}
	.nav-link{
		padding: .5rem 1rem;
	}
}
@media screen and (min-width:1024px){
	section .container{
		min-height: 700px;
	}
	#slider .container{
		min-height:auto;
	}
	.mobile.mobile-devices{
		display:none;
	}
	.collapse.navbar-collapse .nav{
		display:block;
	}
	#main-navigation{
		display:block;
		width:100%;
	}
	#main-navigation li,
	.menu-item{
		display:inline-block;
	}
	.has-padding{
		display:block;
		padding:40px 0;
		box-sizing: border-box;
	}
	.my-photo{
		width:200px;
		height:200px;
		display:block;
		margin:20px auto;
		border:0;
		border-radius:50%;
	}
			#about-me:before,
			#portfolio:before,
			#contact:before{
				content:' ';
				display:block;
				width:100%;
				height:100%;
				transform:skew(50deg,0);
				position:absolute;
				top:0;
				background: rgba(141, 198, 228, .3);
				z-index: -1;
			}
			#skills:before,
			#testimonials:before{
				content:' ';
				display:block;
				width:100%;
				height:100%;
				transform:skew(-50deg,0);
				position:absolute;
				top:0;
				background: rgba(141, 198, 228, .3);
				z-index: -1;
			}
	.caption div:before,
	.caption div:after{
			content:' ';
			display:block;
			background:#fff;
			position:absolute;
			z-index: -1;
			width: 300px;
			height: 120%;
		}
		.caption div:before{
			top: -15px;
			left: -90px;
			transform: skew(50deg, 0)
		}
		.caption div:after{
			top: 5px;
			right: -25px;
			transform: skew(50deg, 0)
		}
		.collapse.navbar-collapse .nav{
			display:block;
		}
}
@media screen and (min-width:1200px){
	.container{
		max-width: 1140px
	}
	[class*="col-md-"],[class*="col-lg-"]{
  	  width:100%;
  	  float:left;
    }
	.bg-light:before,
	.bg-light:after{
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: -1109px;
		background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255,.15), rgba(255, 255, 255, 0));
		transform: skew(35deg, 0);
		width: 100%;
		height: 65px;
		overflow: hidden;
		box-shadow: 2px 3px 8px -4px;
	}
	.bg-light:after{
		left:auto;
		right: -1109px;
		box-shadow: -2px 3px 8px -4px;
		background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255,.15), rgba(255, 255, 255, 0));
	}

}
.chart{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.custom-text, .skills-description{
	position:absolute;
	top: 50%;
	left: 0;
	width:100%;
	text-align: center;
	margin-top:-5%;
}
.skills-description{
	top:60%;
	left:0;
	text-align: center;
}
@media screen and (min-width:1400px){
	.caption div:before,
	.caption div:after{
		width:60%;
	}
	.collapse.navbar-collapse .nav{
		display:block;
	}
}
@media screen and (max-width:1023px){
	.caption div{
		background:#fff;
	}
	.caption div:before{
		content:' ';
		display:block;
		width:100%;
		height:100%;
		background: #fff;
		transform: skew(50deg);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
@media screen and (max-width:767px){
	.hidden-xs{
		display:none;
	}
}
@media screen and (min-width:768px) and (max-width:992px){
	.hidden-sm{
		display:none;
	}
}
